root {
  --main-color: #41436a;
  --primary-color: #974063;
  --secondary-color: #f54768;
  --fourth-color: #efe8f5;
}
body {
  font-family: serif;
  background-color: var(--main-color);
}
.container {
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/image/chess.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 230px 0;
  text-align: center;
}

header h1 {
  font-family: serif;
  font-size: 60px;
  text-align: center;
  color: var(--fourth-color);
}
header h2 {
  font-family: serif;
  font-size: 30px;
  text-align: center;
}
.header-button {
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 16px 32px;
}
.header-button:hover {
  color: white;
  background-color: var(--secondary-color);
  text-decoration: underline;
}
main {
  background-color: white;
}
main h2 {
  margin: 0;
  color: var(--main-color);
}
main p {
  color: var(--primary-color);
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.person-reading {
  max-width: 900px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: var(--fourth-color);
}
section.secondary h2 {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
}
.card {
  background-color: white;
  margin-top: 30px 0;
}
.card-header .grid {
  grid-gap: 0px;
}
.card-body {
  padding: 30px;
}
.img-responsive {
  width: 100%;
  display: block;
}
.card h4 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  color: #272044;
  margin: 0;
}
.card h5 {
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  color: #272044;
  margin: 0;
}
.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.card-body h2 {
  color: var(--primary-color);
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-button {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: #272044;
  text-decoration: none;
  padding: 15px;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid {
  display: grid;
  grid-gap: 20px;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../image/background.jpg");
}
footer p {
  font-size: 16px;
  opacity: 0.9;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
@media (max-width: 900px) {
  header h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 15px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  .person-reading {
    width: 300px;
  }
}
